.contenedor1 {
    display: block;
    background-color: blue;
    height: 150px;

}
.contenedor2 {
    display: block;
    background-color: tomato;
    height: 150px;
}
.contenedor3 {
    display: inline;
    background-color: lightgreen;
    height: 150px;
}
.contenedor4 {
    display: inline;
    background-color: goldenrod;
    height: 150px;
}
.contenedor5 {
    display: inline-block;
    background-color: rgb(31, 146, 140);
    height: 150px;
    width: 200px;
}
.contenedor6 {
    display: inline-block;
    background-color: rgb(99, 156, 15);
    height: 100px;
}